*{
    margin: 0;
    padding: 0;
    font-family: sportify-circular,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-display: swap;
}
body{
    background-color: black;
    color: white;
}

.home ul li{
    display: flex;
    gap: 25px;
    list-style: none;
    width: 25px;
    padding-top: 10px;  
}
.left{
    width: 25vw;
}
.right{
    width: 75vw;
}
.bg-grey{
    background-color:#7c7c7c26;
}
.heading{
    display: flex;
    gap: 25px;
    width: 100%;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;  
}
.heading img{
    width: 25px;
}