*{
    margin: 0;
    padding: 0;
    font-family: sportify-circular, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-display: swap;
}

body {
    background-color: black;
    color: white;
}

.home ul li {
    display: flex;
    gap: 25px;
    list-style: none;
    width: 25px;
    padding-top: 10px;
}

.left {
    width: 25vw;
}

.right {
    width: 75vw;
    position: relative;
}

.bg-grey {
    background-color: #7c7c7c26;
}

.heading {
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    font-weight: bold;
    padding-top: 10px;
}

.heading img {
    width: 25px;
}

.library {
    position: relative;
    min-height: 70vh;
}


.footer {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    gap: 10px;
    padding-bottom: 5px;
    padding-right: 9px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

.header {
    display: flex;
    background-color: #7c7c7c10;
    justify-content: space-between;
    padding: 10px;
}

.login {
    background-color: white;
    color: black;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 70px;
    font-size: 15px;
    margin-left: 10px;

}
.login:hover {
    font-weight: bold;
    font-size: 16px;
}

.signup {
    background-color: black;
    color: rgba(255, 255, 255, 0.763);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 25px;
    border-radius: 70px;
    font-size: 15px;
}
.signup:hover{
    color: white;
}
.header>* {
    padding: 10px;
}

.spotifyplaylist {
    padding: 15px;
}

.spotifyplaylist .card {
    width: 180px;
    height: 230px;
}

.card {
    background-color: #7c7c7c3d;
    border-radius: 10px;
}

.card>p {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 12px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.card>h4 {
    padding-left: 5px;
}

.cardContainer {
    padding-top: 10px;
    margin: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: scroll;
}

.card {
    position: relative;
}

.play-btn {
    position: absolute;
    right: 8px;
    bottom: 52px;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.card:hover .play-btn {
  opacity: 1;
}
.play-btn:active {
  opacity: 1; 
  transform: scale(0.95); 
}

.play-btn svg {
    width: 100%;
    height: 100%;
}

.playbar{
    position: fixed;
    height: 30px;
    bottom: 0;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.393);
    padding: 16px;
    margin-bottom: 10px;
}
.playbuttons{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.songlist{
    height: 300px;
    overflow: auto;
}

.songlist ul li{
   list-style-type: decimal;
   display: flex;
   gap: 12px;
   justify-content: space-between;
   cursor: pointer;
   padding: 12px 0;
   border: 1px solid rgb(98, 97, 97);
   margin: 12px 0;
   border-radius: 5px;
}
.songlist .info{
    font-size: 14px;
    width: 350px;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size: 15px;
    width: 34px;
    padding: 12px;
}
.playnow img{
    height: 25px;
    width: 25px;
    margin-right: 10px;
}
.seekbar{
    height: 2px;
    width: 94%;
    border: 2px solid white;
    background-color: black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 3px;
}
.circle{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    position:relative;
    bottom:6px;
    left: 0%;
    transition: left 0.5s;
}

